<br>
<h1>Welcome to JUNGLE!</h1>
<br>
<p>JUNGLE grew out of our passion for plants. We have always seen the beauty in nature and loved to have plants in our home, yard, and life. One day we were trying to figure out what we wanted to do with our life and realized that it needed to involve plants. </p>
<br>
<p>That was the day that JUNGLE was born. Now four years later, we cannot believe how it has grown! We only sell the highest quality plants and flowers. We source our products from reputable growers and nurseries, so you can be sure you&rsquo;re getting a healthy, beautiful plant.</p>
<br>
<p>Now enough about us! It&rsquo;s time for you to find the plant of your dreams. </p>

<a class="btn btn-success" href="/" role="button">Click here to browse our plant selection!</a>